<h2>Add New Post</h2>

<p>
  <form action="/method" method="POST">
    <textarea name="post" class="form-control" placeholder="type your post here" rows="6"></textarea>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</p>

